.main {
    text-align: center;
}
.main img{
    height: 140px;
    width: auto;

}

.spieler {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;    
}
.punkte {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;

}
.karten {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.geld {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.chips {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}

.chips img{
    height: 90px;
    width: auto;
}

.geld_einsatz {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.button-spiel {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.play {
    justify-content: center;
    display: flex;

}
.wins {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.lose {
    display: flex;
    justify-content: center;
    gap: 110px;
    flex-wrap: wrap;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-color: #4CAF50;
    border-radius: 7px;
  }